/* GLOBAL */
body {
  background-color: #eff6ff; /* BLEU TRES CLAIR */
  color: #1f2937;
  font-family: Arial, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  margin: 0;
}

/* CONTAINER */
.container {
  width: 700px;
  margin: 40px auto;
}

/* CARDS */
.card-white {
  background: white;
  padding: 40px;
  margin: 24px 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
}

/* TEXT */
h1 {
  color: #16324f;
  font-size: 42px;
}

h2 {
  color: #2f5bea;
  font-size: 28px;
}

p {
  margin-bottom: 30px;
}

/* IMAGE */
.img-circle {
  width: 160px;
  height: 210px;
  object-fit: cover;
  border-radius: 50%;
}

/* BUTTON */
.btn-blue {
  background-color: #2f5bea;
  color: white;
  padding: 14px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.btn-blue:hover {
  background-color: #1d47cf;
}

/* SOCIAL */
.list-inline {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list-inline li {
  display: inline-block;
  margin: 0 15px;
}

.list-inline a {
  text-decoration: none;
  color: #2f5bea;
  font-weight: bold;
}

.list-inline a:hover {
  color: #1d47cf;
}
